<!-- HEADER -->
<div class="header d-flex">
  <span class="container-fluid">
    <span class="logo">
      <img src="assets/logo.png" alt="Logo" />
    </span>
    <span class="title display-5 text-white">
      {{ title }}
    </span>
  </span>
  <span class="spacer"></span>
  <!-- <button class="login" mat-mini-fab>
    <mat-icon>person</mat-icon>
  </button> -->
</div>

<div class="row d-flex">
  <!-- SIDEBAR -->
  <div class="sidebar border-end col-lg-2 col-md-2 col-sm-12 text-center">
    <mat-sidenav #sidenav mode="side" opened class="app-sidenav pt-3">
      <!-- Sidenav Menu -->
      <nav>
        <a
          href="#"
          class="nav-link side-link"
          *ngFor="let link of links"
          [routerLink]="link.path"
          routerLinkActive="active"
        >
          {{ link.title }}
        </a>
      </nav>
    </mat-sidenav>
  </div>

  <!-- MAIN -->
  <div class="main col-lg-10 col-md-10 col-sm-12 py-5 px-5">
    <div class="course-outline fs-3 mb-5">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
      <!-- <app-home></app-home> -->
    </div>
    <!-- <div class="course-list fs-5">
      <app-courses></app-courses>
    </div> -->
  </div>
</div>
